@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    overflow-x: hidden;
    /* set y overflow dynamically based on app context */
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: black;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
}
#baba ol {
  list-style: none;
  counter-reset: item;
}
#baba li {
  counter-increment: item;
  margin-bottom: 5px;
}
#baba li:before {
  margin-right: 10px;
  content: counter(item);
  background: lightblue;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
